
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: "Gill Sans", sans-serif;
  color: #333;
}

.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 150px;
    &:hover {
      transform: translateY(-5px);
      transition: transform 0.5s;
    }
  }
}

.coluna {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

.header {
  background-color: #fed36a;
  padding: 2px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #2e4559;
  z-index: 999;
}

.header__title {
  font-size: 2.3rem;
  font-family: "helvetica";
  color: white;
}

.header__nav {
  margin-top: 10px;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu__item {
  margin-left: 20px;
  transition: transform 0.5s;
}

.menu__item:hover {
  transform: translateY(-3px);
} 

ul {
  height: 100%;
}

.menu__link {
  text-decoration: none;
  color: #2e4559;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px 16px;
  font-family: "Roboto", serif;
  font-weight: semi-bold;
}

.menu__link:hover {
  background-color: #e3b55f;
  border-radius: 10px;
  color: #f3f3e4 !important;
}

.about {
  padding: 50px 0;
  margin-top: 65px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.458);
  width: 75%;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 18px;
  margin-top: 10px;
}

.about__image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.about__details {
  max-width: 600px;
  text-align: justify;
}

.about__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.about__text {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Gill Sans", sans-serif;
  text-align: justify;
}
.favorite-music {
  background-color: #f2dc99;
  padding: 60px 0;
  padding: 50px 0;
  margin: 44px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.458);
  width: 75%;
  border-radius: 20px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2dc99;
}

iframe {
  border-radius: 8px;
}

#contact {
  padding: 60px 0;
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

#contact form {
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border-color: var(--highlight-color);
  outline: none;
}

textarea {
  height: 150px;
  resize: vertical;
}

button {
  display: block;
  width: 25%;
  padding: 12px;
  background-color: #333;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  transition: transform 0.5s;
  margin: 0 auto;
}

.contato-button-grid {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #f2d091;
  color: #333;
  transform: translateY(-5px);
  font-weight: bold !important;
}

#mapa {
  margin-top: 40px;
  height: 280px;
}

.footer {
  padding: 20px 0;
  text-align: center;
  border-top: 3px solid #2e4559;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__text {
  font-size: 1rem;
  margin-top: 10px;
}

.social-links {
  margin-bottom: 10px;
}

.social-links__icon {
  margin: 0 10px;
  font-size: 50px;
  color: rgb(25, 24, 24);
  &:hover {
    color: #f2c166;
  }
}

.social-links__icon:hover img {
  opacity: 0.7;
}

.typing-effect {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #333;
  border-right: 2px solid #333;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blink 0.05s step-end 5000;
}

.curriculo {
  margin-top: 50px;
  padding: 50px 20px;
  background-color: #f8f9fa;
  z-index: 1;
}

.curriculo .section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza as caixas */
  gap: 20px;
  max-width: 800px; /* Define a largura máxima */
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
}

.box {
  width: 100%; /* Faz com que as caixas se ajustem ao tamanho do contêiner */
  background-color: #ffffff;
  border: 2px solid #fed36a;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: justify;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.box h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #2e4559;
}

.box p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}

#portfolio {
  padding-top: 100px; /* Ajusta o espaço para descer o conteúdo */
  padding-bottom: 50px;
}

.portfolio-page {
  background-color: rgba(199, 191, 191, 0.1);
}


.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

#contact {
  padding: 60px 0;
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.form-box {
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  border: 2px solid #fed36a;  /* Borda amarela */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact form {
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  border-color: var(--highlight-color);
  outline: none;
}

textarea {
  height: 150px;
  resize: vertical;
}

button {
  display: block;
  width: 25%;
  padding: 12px;
  background-color: #333;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
  transition: transform 0.5s;
  margin: 0 auto;
}

.contato-button-grid {
  display: flex;
  justify-content: center;
}

button:hover {
  background-color: #f2d091;
  color: #333;
  transform: translateY(-5px);
  font-weight: bold !important;
}

#mapa {
  margin-top: 40px;
  height: 280px;
}



@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 22ch;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #333;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #333;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
  @media (max-width: 480px) {
    .menu__link {
      font-size: 1rem;
      padding: 8px 16px;
    }
  
    .header {
      padding: 8px 0;
    }
  
    img {
      width: 80px;
    }
  }
